BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterNamespace: true
  AfterEnum: true
  AfterControlStatement: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: None
SortIncludes: false
InsertBraces: true
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
